binwalk
Code/
balena-etcher-electron/
fontforge/
gnome-boxes/
gnome-initial-setup-done
libreoffice/
libvirt/
mimeapps.list
.config/zsh/.zcompdump-anh-5.8
.config/zsh/.zcompdump-localhost-5.8
.config/.config
dconf
evolution
gnome-control-center
gnome-session
goa-1.0
gtk-3.0
ibus
kazam
light
monitors.xml
nautilus
procps
pulse
qt5ct
qterminal.org
teamviewer
Thunar
user-dirs.dirs
user-dirs.locale
xfce4
.config/configstore
.config/.oh-my-zsh
.zcompdump-kali-5.8
.config/dleyna-renderer-service.conf
.config/monitors.xml~
.config/Slack/
.config/enchant/
.config/gedit/
.config/qutebrowser/
.config/.zshrc.pre-oh-my-zsh
.config/gtk-2.0/
.config/zsh/.zcompdump
.config/wgetrc
.config/.gitconfig
.config/git/
.config/Code - OSS/
.config/discord/
.config/QtProject.conf
.config/keepassxc/
.config/gtk-4.0/
.config/yelp/
.config/zsh/.zcompdump-asus-5.8
.config/dleyna-server-service.conf
.config/google-chrome/
.config/menus/
.config/nvidia/
.vim/bundle
